<!DOCTYPE html>
<html>

<head>

<title>Registrieren</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<script>

setTimeout(() => {

    document.querySelectorAll(".message").forEach((msg) => {

        msg.style.transition = "opacity 0.5s";
        msg.style.opacity = "0";

        setTimeout(() => {
            msg.style.display = "none";
        }, 500);

    });

}, 3000);

</script>

<body>


<div class="box">


<h1>Registrieren</h1>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}

        <div class="message {{ category }} flash-message">
    {{ message }}
</div>

    {% endfor %}
{% endwith %}



<form method="POST">


<input
type="text"
name="username"
placeholder="Benutzername"
required
>


<input
type="email"
name="email"
placeholder="E-Mail"
required
>


<input
type="password"
name="password"
placeholder="Passwort (mind. 8 Zeichen)"
required
>


<button type="submit">
Registrieren
</button>


</form>


<a href="/login">
Schon ein Konto? Login
</a>


</div>


</body>
</html>